html, body{
  width:100%;
  background-color:#111;
}

.parent{
    min-height:100vh;
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    
    gap:10px;
}
.card{
  width:300px;
  height:350px;
  background-color:#ffffff;
  border-radius:40px;
  padding:30px;
  box-sizing:border-box;
  margin:50px;
  font-family:sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:space-between;

}

.card .top{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.top img{
  height:30px;
  width:30px;
  border-radius:50%;
  border:1px solid #dadada;
  padding:2px;
}


.top button{
  display:flex;
  align-items:center;
  border:1px solid #dadada;
  padding: 4px 8px;
  border-radius:5px;
  background-color:transparent;
  color:#b1b1b1
  
}
.center span{
  font-size:9px;
  font-weight: 400;
  color:#8b8b8b;
}
.center h3{
  font-size:17px;
  font-weight:500;

}
.center .tag{
  display:flex;
  margin-top:10px;
  gap:5px;
}
.center .tag h4{
    font-size: 14px;
    background-color: #dadada;
    padding: 3px 6px;
    border-radius: 5px;

}
.center h2{
  font-size:20px;
}

 .bottom{
  display:flex;
  
  align-items:center;
  justify-content:space-between; 
  border-top : 1.5px solid #b1b1b1e1;
  padding-top:15px; 

 }
 .bottom button{
  padding:8px 15px;
  border-radius:5px;
  border:none;
  background-color:#111;
  color:#ffffff;
  font-size:14px;
  cursor:pointer;
 }