*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background-color:black; 
  color:white;
}

h1{
  font-size:larger;
  position:absolute; 
  bottom:50%;
  left:40%;
  font-size:xx-large;
   
}

.nav{
  background-color:aquamarine;
  padding:15px;
  max-height:50px;
  display:flex;
  justify-content:space-evenly;
  
}
