body{
  background-color:#ffe2e2;
  
  
}

.card {
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  background: #125068;
  box-shadow: 0 4px 10px rgba(228, 87, 87, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  display:inline-block;
  margin:20px;
  
}

.card img {
  width: 100%;
  height:250px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card h2 {
  margin: 10px 0;
  font-size: 20px;
  color: #ffffff;
}

.card p {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 15px;
}

.card button {
  padding: 10px 20px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background: #0056b3;
}
