.header{
  background-color:rgb(64, 214, 164);
  padding:10px 20px;
  text-align:center;
  font-size:24px;
  font-weight:bold;
  margin:10px;
  display:flex;
  justify-content:space-around;
  align-items:center;

  

}
.btn{
  background-color:rgb(239, 239, 239);
  padding:5px 10px;
  text-align:center;
  font-size:20px;
  font-weight:bold;
  margin:10px;
  
}